@model FactoryMethodPatternCoreMvc_Demo.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h4 class="text-uppercase">Employee Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeeNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Position)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Office)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Office)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HourlyPay)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HourlyPay)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bonus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Bonus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HouseAllowance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HouseAllowance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedicalAllowance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MedicalAllowance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmployeeType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeeType.EmployeeTypeName)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-info rounded-0">Edit</a>
            <input type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" />
            <a asp-action="Index" class="btn btn-sm btn-primary rounded-0">Back to List</a>
        </div>
    </div>
</div>